header {
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    z-index: 0;
}

ul {
    display: flex;
    /*justify-content: space-around;*/
    gap: 3vw; 
}

li {
    list-style: none;
    transition: transform 0.3s;
}

li:hover {
transform:translateY(-2.5px);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}

a:hover {
    color:rgb(156, 170, 135);
}

main {
    margin-top: 68.8px;
}

.cube {
    height:300px;
    width:300px;
    background-color: rgb(255, 77, 166);
    position:relative;
}

.inner-cube {
    height:100px;
    width:100px;
    background-color: lawngreen;
    position:absolute;
    top:50px;
    right:50px;
}